[submodule "odoo/src"]
	path = odoo/src
	url = https://github.com/odoo/odoo
	branch = 17.0

; [submodule "odoo/external-src/kal-it-erp-modules"]
; 	path = odoo/external-src/kal-it-erp-modules
; 	url = git@gitlab.com:kal-it/kal-it-erp-modules.git
; 	branch = 17.0
;
; [submodule "odoo/external-src/k-erp_branding"]
; 	path = odoo/external-src/k-erp_branding
; 	url = git@gitlab.com:kal-it/internal/k-erp-branding.git
; 	branch = 17.0
;
; [submodule "odoo/external-src/kal-cloud-platform"]
; 	path = odoo/external-src/kal-cloud-platform
; 	url = git@gitlab.com:kal-it/internal/kal-cloud-platform.git
; 	branch = 17.0

; Camptocamp
; [submodule "odoo/external-src/odoo-cloud-platform"]
; 	path = odoo/external-src/odoo-cloud-platform
; 	url = https://github.com/camptocamp/odoo-cloud-platform.git
; 	branch = 17.0

; Cybrosys
;[submodule "odoo/external-src/cybrosys"]
;	path = odoo/external-src/cybrosys
;	url = https://github.com/CybroOdoo/CybroAddons.git
;	branch = 17.0

; OCA
;[submodule "odoo/external-src/account-financial-reporting"]
;	path = odoo/external-src/account-financial-reporting
;	url = https://github.com/OCA/account-financial-reporting.git
;	branch = 17.0

;[submodule "odoo/external-src/account-financial-tools"]
;	path = odoo/external-src/account-financial-tools
;	url = https://github.com/OCA/account-financial-tools.git
;	branch = 17.0

;[submodule "odoo/external-src/partner-contact"]
;	path = odoo/external-src/partner-contact
;	url = https://github.com/OCA/partner-contact.git
;	branch = 17.0

;[submodule "odoo/external-src/reporting-engine"]
;	path = odoo/external-src/reporting-engine
;	url = https://github.com/OCA/reporting-engine.git
;	branch = 17.0

; [submodule "odoo/external-src/server-env"]
; 	path = odoo/external-src/server-env
; 	url = git@github.com:OCA/server-env.git
; 	branch = 17.0

;[submodule "odoo/external-src/server-tools"]
;	path = odoo/external-src/server-tools
;	url = https://github.com/OCA/server-tools.git
;	branch = 17.0

; [submodule "odoo/external-src/server-ux"]
; 	path = odoo/external-src/server-ux
; 	url = https://github.com/OCA/server-ux.git
; 	branch = 17.0

;[submodule "odoo/external-src/social"]
;	path = odoo/external-src/social
;	url = https://github.com/OCA/social
;	branch = 17.0

;[submodule "odoo/external-src/report-print-send"]
;	path = odoo/external-src/report-print-send
;	url = https://github.com/OCA/report-print-send
;	branch = 17.0

;[submodule "odoo/external-src/pos"]
;	path = odoo/external-src/pos
;	url = https://github.com/OCA/pos
;	branch = 17.0

; [submodule "odoo/external-src/web"]
; 	path = odoo/external-src/web
; 	url = https://github.com/OCA/web.git
; 	branch = 17.0
